.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }
.hentry #comments {
    clear: both;
}
article {
    clear: both;
}
article img {
    max-width: 100%;
}
